apimatic-core==0.2.15
apimatic-core-interfaces==0.1.5
apimatic-requests-client-adapter==0.1.6
blinker==1.8.2
CacheControl==0.12.14
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
Flask==3.0.3
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
jsonpickle==3.0.4
jsonpointer==2.4
MarkupSafe==2.1.5
msgpack==1.1.0
paypal-server-sdk==0.5.1
python-dateutil==2.8.2
python-dotenv==1.0.1
requests==2.32.3
setuptools==75.1.0
six==1.16.0
urllib3==2.2.3
Werkzeug==3.0.4
