<html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- To be replaced with your own stylesheet -->
    <link rel="stylesheet" type="text/css"
      href="https://www.paypalobjects.com/webstatic/en_US/developer/docs/css/cardfields.css" />
    <!-- Express fills in the clientId and clientToken variables -->
  </head>

  <body>
    <ul>
      <li><a href="/purchase">Purchase Flow</a></li>
      <li><a href="/vault">Vault Flow</a></li>
    </ul>
  </body>

</html>
