# Create an application to obtain credentials at
# https://developer.paypal.com/dashboard/applications/sandbox

CLIENT_ID="AQg0GGsM4KX_CvuINBwnLXIiBXqbnaSODRwaKFXoFagSID36ODE0jM0rBOCSBHw7HnngtrVAMMyMTAEh"
APP_SECRET="EMoggvXxB4DavpmQs4hjb1_nsBwsrZKVxFzfhpRVTSgRVYV2_7nOPuv1q4dT7lbFQfJPNJKRIASBUk4v"
